<ul>
	<% if admin_signed_in? %>
	  <% if not @assignments.nil? %>
		  <% @assignments.each do |assignment| %>
		    <li>
		    	<%= link_to assignment.topic, assignment_path(assignment.id)  %><div style = "align: left"><a href = "<%= edit_assignment_url(assignment.id)%>">Edit</a>   	<%= link_to 'Remove', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
				</li>
		  <% end %>
		<% else %>
			<h2>Wow Such Empty</h2>
	  <% end %>
 	<% else %>
   	<h2><a href="<%= new_admin_session_path%>">
   		<i class="fa fa-sign-in"></i> Login as Admin 
   	</h2>
  <% end %>
</ul>